.detail-product-component {
    width: 100%;
}

.detail-product-wrapper {
    margin-top: 4rem;
}

/* DETAIL PRODUCT INFORMATION */
.product-detail-information {
    padding: 6rem 0rem 0rem 0rem;
}
.product-detail-information__sub-title {
    background-color: #383838;
    color: #ffffff;
    margin-bottom: 2.5rem;
    padding: 10px 15px;
    width: fit-content;
}

.product-detail-information__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

/* PRODUCT SIMILAR */
.product-simlar {
    margin-top: 4rem;
}