/* PRODUCT DETAIL */
.descrition-title {
    color: #8d8d8d;
    font-size: 18px;
    margin-bottom: 15px;
}

.descrition-item {
    color: #8d8d8d;
    font-size: 15px;
    margin-bottom: 3px;
    padding-left: 10px;
}

.descrition-item::before {
    content: '-';
    display: inline-block;
    margin-right: 5px;
}