.pagination-component { }

.pagination-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
}

.pagination-content {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.pagination-component  button {
    background-color: #f4f4f4;
    border: 2px solid #ffffff;;
    height: 3.5rem;
    outline: unset;
    width: 3.5rem;
}

.pagination-des {
    color: var(--color-text-two);
    text-align: center;
}

.pagination-item.active button {
    background-color: #4c4c4c;
    color: #ffffff;
}