.form-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: capitalize;
}

.auth-sign-up-form {
    width: 350px;
}

.auth-btn {
    background-color: #383838!important;
    border-radius: unset!important;
    color: #cacaca!important;
    font-size: 1.5rem!important;
    margin: 1.5rem 0rem 2.5rem 0rem;
    padding: 1rem 2.5rem!important;
    text-transform: uppercase!important;
    width: 100%;
}