.main-genres-component {
    padding: 4rem 0rem;
    width: 100%;
}

.card-genres {
    margin: 8px 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.card-genres::after {
    background-color: #ffffff8c;
    content: '';
    display: none;
    left: 0px;
    height: 100%;
    position: absolute;
    transition: all .5s ease;
    top: 0px;
    width: 100%;
}

.card-genres:hover::after {
    display: block;
}

.card-genres img {
    width: 100%;
}